@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Sofia Sans", sans-serif;
}

body {
  margin-top: 35px;
  background: rgb(15, 15, 15);
  background: linear-gradient(
    90deg,
    rgba(15, 15, 15, 1) 0%,
    rgba(19, 20, 20, 1) 100%
  );
}
